body {
	background: url(../img/bg.png) no-repeat;
	background-size: 100%;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	color: #434343;

}

.header {
	background: rgba(0, 0, 0, 0.4);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	position: relative;

}

.header__wrap {
	max-width: 1215px;
	width: 100%;
	height: 58px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__link {
	text-decoration: none;
	color: inherit;
}

.header__logo {
	font-weight: 700;
	font-size: 22px;
	line-height: 22px;
	color: #FFFFFF;
	transition: color 1s;

}

.header__link:hover {
	color: #3CB878;
}

.header__right {
	max-width: 350px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.header__icons {
	max-width: 120px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.header__right::after {
	content: "";
	background: white;
	position: absolute;
	bottom: 0;
	left: 44%;
	height: 100%;
	width: 1.5px;


}

.header__link:hover .header__svg g path {
	fill: #3CB878;

}

.header__login_text {
	color: #FFFFFF;
}

.form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 324px;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding: 38px 60px;
}

.form__header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 15px 4px;
	margin-bottom: 35px;
}

.form__header_title {
	font-size: 20px;
	line-height: 20px;
	position: relative;
}

.form__header_title::before {
	content: "";
	background: #3CB878;
	position: absolute;
	bottom: 0;
	left: -38%;
	height: 18px;
	width: 18px;
}

.form__header_subtitle {
	color: #3CB878;
	text-decoration: none;
	text-align: right;
}

.form__header_subtitle:hover {
	text-decoration: underline;
}

.form__header_button {
	border-radius: 5px;
	color: inherit;
	text-decoration: none;
	height: 48px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	transition: background-color 700ms;


}

.form__header_button_facebook {
	background-color: #305DB8;
}

.form__header_button_google {
	background-color: #DF4A32;
}

.form__header_button_facebook:hover {
	background-color: #022263;
}

.form__header_button_google:hover {
	background-color: #AB1F09;
}

.form__header_button_img {
	vertical-align: middle;
	margin-right: 30px;

}

.form__header_button_text {
	font-size: 16px;
	line-height: 16px;
	color: #FFFFFF;
	text-align: center;
	position: relative;

}

.form__header_button_text::before {
	content: "";
	background: #0A162F;
	position: absolute;
	top: -45%;
	left: -35%;
	height: 30px;
	width: 1px;
	opacity: 0.1;

}

.form_or {
	color: #848484;
	text-align: center;
	position: relative;
	margin-bottom: 12px;
}

.form_or::before {
	content: "";
	background: #F2F2F2;
	position: absolute;
	top: 50%;
	left: 0%;
	height: 1px;
	width: 47%;

}

.form_or::after {
	content: "";
	background: #F2F2F2;
	position: absolute;
	top: 50%;
	left: 53%;
	height: 1px;
	width: 47%;

}

.form__input {
	background: #FFFFFF;

	border-radius: 4px;
	width: 303px;

	padding: 15px 0px 15px 19px;
	border: 1px solid #F2F2F2;
	outline: none;
	margin-bottom: 16px;
}

.form__input:focus {
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}


.form__checkox {
	position: relative;
	padding-left: 8px
}

.form__checkox__body {
	position: absolute;
	z-index: 1;
	content: "";
	width: 20px;
	height: 20px;
	top: -2px;
	left: 5px;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #F2F2F2;
}

.form__checkox__body::after {
	position: absolute;
	z-index: 1;
	content: "";
	width: 16px;
	height: 16px;
	top: -4px;
	left: -2px;
	border: none
}

.form__checkox_input {
	opacity: 0
}

.form__checkox_input:checked~.form__checkox__body {
	background-color: transparent
}

.form__checkox_input:checked~.form__checkox__body::after {
	display: inline-block;
	width: 6px;
	height: 14px;
	margin: 3px 7px 5px;
	border: solid #3CB878;
	border-width: 0 4px 4px 0;
	transform: rotate(45deg);
}


.form__link {
	color: #3CB878;
	text-decoration: none;

}

.form__link:hover {
	text-decoration: underline;
}

.form__button {
	margin-top: 20px;
	outline: none;
	border: none;
	padding: 16px;
	width: 100%;
	background: rgba(60, 184, 120, 0.8);
	border-radius: 4px;
	font-size: 16px;
	line-height: 16px;
	color: #FFFFFF;
	cursor: pointer;
}